@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600);
.d-none {
  display: none;
}
@keyframes text-clip {
  from {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes mid-to-left {
  from {
    left: 50%;
    transform: translateX(-50%);
  }
  to {
    left: 0;
    transform: none;
  }
}
@keyframes left-to-normal {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: none;
  }
}
.greet-outer {
  width: 100%;
}
.greet-1 {
  position: relative;
}
.greet-1--animate {
  animation: text-clip 1250ms 100ms cubic-bezier(0.5, 0, 0.1, 1) both;
}
.greet-1-inner {
  top: 0;
  position: absolute;
}
.greet-1-inner--animate {
  animation: mid-to-left 1s 1250ms both;
}
.greet-2--animate {
  animation: left-to-normal 1s 1s ease both;
}
.typewrite > .wrap {
  border-right: 0.08em solid var(--accent-1);
}
.typewrite {
  opacity: 0;
  transition: opacity 100ms ease;
}
.typewrite-show {
  opacity: 1;
}
.typewrite-show .wrap {
  animation: blinkTextCursor 750ms infinite normal;
}
@keyframes blinkTextCursor {
  50% {
    border-right-color: var(--accent-1);
  }
  51% {
    border-right-color: transparent;
  }
  to {
    border-right-color: transparent;
  }
}
* {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  transition: 100ms all;
  word-wrap: break-word;
}
h3, ul {
  margin: 0;
}
:root {
  --accent-1: #0563bb;
  --accent-i-1: #ffffff;
  --tertiary: #45505b;
  --main-2: #45505b;
  --main-3: #45505b;
  --linkHover: #fddb3a;
  --mainColor: #000000;
  --mainOpponentColor: #ffffff;
  --bg: #ffffff;
  --secondaryColor: #f2f3f5;
  --bg-2: #f2f3f5;
}
#section-main {
  height: 100vh;
  color: var(--accent-1);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  overflow-y: auto;
}
body {
  background-color: var(--bg);
  min-height: 100vh;
  transition: 0.3s;
  position: relative;
}
.nav-menu {
  padding: 0;
  display: block;
}
.nav-link {
  color: var(--tertiary);
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: var(--accent-i-1);
  background: var(--accent-1);
}
.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--tertiary);
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: var(--secondaryColor);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.nav-menu a,
.nav-menu a:focus {
  width: 56px;
}
.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}
.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: var(--tertiary);
}
.nav-menu a span,
.nav-menu a:focus span {
  display: none;
  color: var(--accent-i-1);
}
.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: var(--accent-i-1);
}
.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}
.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: var(--accent-i-1);
}
.theme-switcher {
  right: 16px;
  top: 16px;
  position: absolute;
  display: flex;
  background-color: var(--accent-1);
  border-radius: 100%;
  width: 52px;
  height: 52px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
}
.theme-switcher:hover {
  transform: scale(1.1);
}
.theme-switcher:active {
  transform: scale(1);
}
.theme-switcher i {
  color: var(--accent-i-1);
  transition: transform 0.3s;
}
.rotate {
  transform: rotate(360deg);
}
.greeting-container {
  height: 100vh;
  padding: 80px;
  display: flex;
  align-items: center;
}
h1 {
  font-size: 50px;
  color: var(--main-3);
  font-weight: 400;
}
.text-highlighted {
  color: var(--accent-1);
}
.projects {
  margin: 60px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
}
.projects h2, #contact-me h2 {
  font-size: 46px;
  text-align: center;
  margin: auto;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--main-3);
}
.projects-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}
.work {
  width: 100%;
  justify-self: center;
  max-width: 80vw;
  padding: 16px;
}
.project-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.3s;
}
.project-card:hover {
  transform: scale(1.1);
}
.project-card:active {
  transform: scale(1);
}
.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}
.app-image-container {
  padding-bottom: calc((3 / 4) * 100%);
}
.design-image-container {
  padding-bottom: calc((1 / 1) * 100%);
}
.work .img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.kind {
  background-color: rgba(26, 26, 26, 0.85);
  position: absolute;
  right: 8px;
  bottom: 28px;
  padding: 6px;
  border-radius: 8px;
  font-size: 1rem;
  max-width: 90%;
  text-align: end;
}
.work-text {
  padding: 8px 16px;
  position: relative;
  border-radius: 16px;
  top: -20px;
  margin-bottom: -20px;
  width: 90%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--bg-2);
}
.title {
  font-size: 20px;
  text-align: center;
  color: var(--main-2);
}
.desc {
  margin: 8px 0;
  color: var(--main-2);
}
footer {
  padding: 60px 32px 32px;
}
footer h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--mainOpponentColor);
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
}
footer a:hover {
  color: var(--linkHover);
}
.footer-wrapper {
  background-color: var(--accent-1);
  border-radius: 10px;
  padding: 20px;
}
.profile {
  color: var(--secondaryColor);
}
.text--main {
  color: var(--mainColor);
}
.text--white {
  color: #fff;
}
#contact-me * {
  width: 100%;
}
#contact-me input, #contact-me textarea {
  border-radius: 10px;
  border: 1px solid var(--main-2);
}
#contact-me textarea {
  min-height: 100px;
}
#contact-me #submit {
  background-color: var(--accent-1);
  border: 1px solid var(--accent-1);
  border-radius: 10px;
  color: white;
  font-weight: 500;
}
#contact-me #submit:hover {
  color: var(--accent-1);
  background-color: white;
}
@media only screen and (max-width: 767.98px) {
  h1 {
    font-size: 45px;
  }
  .projects h2, #contact-me h2 {
    font-size: 43px;
  }
  .projects-item {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 40px;
  }
  .projects h2, #contact-me h2 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 575.98px) {
  .greeting-container {
    padding: 60px;
  }
  h1 {
    font-size: 35px;
  }
  .projects h2, #contact-me h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 420px) {
  .greeting-container {
    padding: 40px;
  }
  h1 {
    font-size: 30px;
  }
  .projects h2, #contact-me h2 {
    font-size: 27px;
  }
}
